body {
  text-align: center;
  background-color: #011f3f;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
  cursor: pointer;
  user-select: none;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media (orientation: landscape) and (max-width: 915px) and (max-height: 500px) {
  .container {
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    height: 100vh !important;
    margin-bottom: 3rem !important;
  }

  .row {
    display: contents !important;
  }

  .btn {
    width: 22vh !important;
    height: 22vh !important;
    margin: 1vh !important;
  }

  #level-title {
    font-size: 2rem !important;
    margin-bottom: 1rem !important;
  }
}

@media (orientation: portrait) and (max-width: 850px) {
  .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .row {
    display: contents;
  }

  .btn {
    width: 22vh;
    height: 22vh;
    margin: 1rem;
  }

  #level-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
